:root {
  --color-primario: rgb(48, 65, 115);
  --color-secundario: #f24968;
  --color-terciario: #f2f2dc;
  --color-cuaternario: #c4e5f2;
  --color-quinario: #f28599;
  --c-brand-rgb:48, 65, 115;
  --font-logo: "Libre Franklin", system-ui;
  --font-texto: "Montserrat", sans-serif;
}
.text-center {  
  margin-top: 0 !important;
}

.hero-image {
  background-image: url("../img/baner.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text {
  color: var(--color-terciario);
  font-family: var(--font-texto);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.hero-text span {
  color: var(--color-secundario);
}

.sec {
  margin-top: 30px;
  font-family: var(--font-logo);
}
.sec h2 {
  font-family: var(--font-logo);
  font-weight: bold;
  color: var(--color-primario);
}

.ladoizquierdo {
  font-family: var(--font-logo);
  font-weight: bold;
  color: var(--color-primario);
  font-size: 1.2rem;
}

.tarjetero {
  max-width: 50%;
  margin-bottom: 100px;
  margin-top: 20px;
}
.carouselSy {
  background-color: #304173;
}
.fondotarjeta {
  margin-bottom: 18px;
}

.tarjeta {
  font-family: var(--font-logo);
  font-weight: bold;
  color: var(--color-terciario);
  line-height: 1.2rem;
}

.precio {
  color: var(--color-secundario);
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .tarjetero {
    max-width: 100%;
  }
}

/*parte dos*/

/* VARIABLES */


/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}



/* HERO */
#hero {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.5), rgba(var(--c-brand-rgb), 0.6)), url(../img/baner.jpg);
    background-position: center;
    background-size: cover;
}


/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


/* ICONBOX */
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}
