body {
    line-height: 1.6;
    margin: 20px;
    height: 100vh;
    margin: 0;
}

/* Principio BOTON */

.container-boton {
    text-align: center;
}

.botonpagos {
    background-color: #304173;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.botonpagos:hover {
    background-color: #F24968;
}

.iconospagos {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    width: max-content;
    max-width: 200px;
    box-sizing: border-box;
}

i {
    position: relative;
    display: inline-block;
    margin: 10px; /* Añade espacio entre íconos */
}

i:hover .tooltip,
i:focus .tooltip { /* Agrega soporte para focus */
    visibility: visible;
    opacity: 1;
}

@media (max-width: 600px) {
    .tooltip {
        bottom: 100%; /* Ajusta la posición */
        font-size: 12px; /* Reduce el tamaño de la fuente */
        padding: 8px; /* Más espacio para clics */
        max-width: 150px; /* Reduce el ancho */
    }

    i {
        margin: 5px; /* Reduce margen entre íconos */
    }
}


i {
    position: relative;
    display: inline-block;
}

.payment-methods {
    margin-top: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* FIN BOTON, COMIENZO PF */

.faq-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
}

.faq-question:hover {
    color: #007BFF;
}

.faq-answer {
    display: none;
    padding-left: 20px;
    color: #333;
}

.arrow {
    transition: transform 0.3s;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
}

.faq-container h3 {
    margin-top: 20px;
    margin-bottom: 20px ;
    font-style: normal;
}
