:root {
    --collection-1-color-3: rgba(242, 242, 220, 1);
    --collection-1-color-2: rgba(242, 73, 104, 1);
    --collection-1-color: rgba(48, 65, 115, 1);
    --shape-corner-medium: 12px;
  }
  